/* ========= Home page CSS ========= */
body {
	padding: 0;
	margin: 0;
}
#thumbnail {
	border-radius: 10px;
}
#channel_icon {
	height: 40px;
	border-radius: 50%;
}
.channel { 
    float: left;
    margin: 8px 0px 0px 0px;
    position: absolute;
}
.title { 
    float: left;
    margin: 8px 1px 10px 6px;
    padding-left: 45px;
    color: #000;
}
.hold {
	height: 290px;
}
img#logo {
    height: 20px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #FFFFFF !important;
}
.form-control {
    width: 538px;
    margin: auto;
}
form.d-flex {
    margin: auto;
}

/* ========= Vide view page CSS ========= */


iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
}
.playVideotitle {
    margin-top: 10px;
}
.sideChannel { 
    float: left;
    position: absolute;
}
.sideTitle { 
    float: left;
    padding-left: 177px;
    color: #000;
}
.sideHold {
    height: 110px;
}
.channelName {
    margin-bottom: 0px;
}
.subscriberCount {
    font-size: 13px;
    color: #6A6060;
}
.subscribe {
    float: left;
    padding-left: 30px;
    margin-top: 5px;
}
.subscribeButton {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 50px;
    padding: 3px 15px 6px 15px;
}
.description {
    background-color: #F2F2F2;
    display: block;
    padding: 5px;
    border-radius: 18px;
}


.long-text {
    display: none;
}
.show-more,
.show-less {
    background: none;
    border: none;
    color: #0F0F0F;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.show-less {
    display: none;
}

#truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
  line-height: 1.5em;
}
#commentLogo {
    height: 40px;
    border-radius: 50%;
}
.comment_input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid lightslategray;
}
.comment_input:focus , .comment_input:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid lightslategray;
}
.comment_input:focus {
    outline:none;
}



.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .user-details {
  display: flex;
  flex-direction: column;
}

.user-info h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.commentDate {
    font-size: 13px;
    font-weight: 400;
}
.commentTxt {
    margin: -7px 0px 33px 50px;
}